@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Oswald&display=swap');

body {
    font-family: Inter;
}

.search-images {
    margin-top: 100px;
    margin-bottom: 100px;
}

.wrapper {
    min-width: 100%;
}

.img-text {
    font-size: 14px;
    margin-top: 5px;
}

.search-form {
    width: 70%;
}

h1 {
    margin-bottom: 10px;
    font-family: Inter, sans-serif;
}

.search-button {
    margin-top: 20px;
}
