img {
    object-fit: cover;
}

.search-images {
    margin-top: 100px;
    margin-bottom: 100px;
}

.img-column {
    height: 400px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.wrapper {
    min-width: 100%;
}

.img-text {
    font-size: 14px;
    margin-top: 5px;
}

.search-form {
    width: 70%;
}

h1 {
    margin-bottom: 30px;
}

.search-button {
    margin-top: 20px;
}
